<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Recommender</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center">Restaurant Recommender</h1>

        <form id="restaurantForm" action="{{ url_for('result') }}" method="post" class="mt-4">
            <div class="form-group">
                <label for="latitude">Latitude:</label>
                <input type="text" class="form-control" id="latitude" name="latitude" required>
            </div>
            <div class="form-group">
                <label for="longitude">Longitude:</label>
                <input type="text" class="form-control" id="longitude" name="longitude" required>
            </div>
            <div class="form-group">
                <label for="radius">Radius (in meters):</label>
                <input type="text" class="form-control" id="radius" name="radius" value="1000">
            </div>
            <div class="form-group">
                <label for="restuarant1">Recently visited Restaurant 1:</label>
                <input type="text" class="form-control" id="restuarant1" name="restuarant1" required>
            </div>
            <div class="form-group">
                <label for="restuarant2">Recently visited Restaurant 2: (optional)</label>
                <input type="text" class="form-control" id="restuarant2" name="restuarant2">
            </div>
            <div class="form-group">
                <label for="restuarant3">Recently visited Restaurant 3: (optional)</label>
                <input type="text" class="form-control" id="restuarant3" name="restuarant3">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Get Restaurants</button>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>